# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data (raw & large files)
data/raw/*
data/interim/*
!data/raw/README.md
!data/interim/README.md

# Logs
*.log